html {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #372248;
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
}

li {
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    color: #372248;
    margin: 24px;
    font-size: 2em;
}

p {
    font-size: 20px;
    line-height: 30px;
    padding: 5px;
}

h1 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100px;
    width: 100%;
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #9DA3A4;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 7px;
    left: 0;
}

.firstSection {
    /* background-image: url('./CodeAcademy Project Pics/ave-calvar-opxOfzge2Tg-unsplash.jpg');
    background-size: cover;
    background-position: center; */
    background-color: #9DA3A4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.firstSection div {
    width: 33.33%;
}

.homePics {
    width: 90%;
    z-index: 4;
    margin: 5px;
}

p.posts {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: 20px;
}

.middleSection {
    background-color: aliceblue;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.middleSection p {
    width: 300px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.finalSection {
    background-image: url('./CodeAcademy Project Pics/tezos-j4CysGLlLRA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

footer h4 {
    margin-left: 10px;
    margin-right: 10px;
}